<ul class="breadcrumb">
	<li><a href="/">Strona główna</a></li>
	<li><a href="/admin/">Panel administratora</a></li>
	<li class="active">Produkty</li>
</ul> 

<ul class="list-group">
	<li class="list-group-item" *ngFor="let product of products">
		<a href="/admin/product/{{ product.prodId }}"> {{ product.tytul }} </a>
		<button type="button" class="btn btn-danger btn-xs pull-right" (click)="removeProduct(product.prodId)"><i class="glyphicon glyphicon-remove"></i></button>
	</li>
</ul>

<hr>

<form [formGroup]="productForm" (ngSubmit)="addProduct($event)">
	<div class="form-group">
		<label for="tytul">Tytuł</label>
		<input id="tytul" formControlName="tytul" type="text" placeholder="Product name" class="form-control">
	</div>
	<div class="form-group">
		<label for="opis">Opis</label>
		<textarea id="opis" formControlName="opis" placeholder="Product description" class="form-control"></textarea>
	</div>
	<div class="form-group">
		<label for="catId">Kategoria</label>
		<select id="catId" formControlName="catId" class="form-control">
			<ng-container *ngFor="let c of categories">
				<option [ngValue]="c.catId">{{c.tytul}}</option>
			</ng-container>
		</select>
	</div>
	<button type="submit">Add</button>
</form>