<ul class="breadcrumb">
	<li><a href="/">Main page</a></li>
	<li><a href="/admin/">Administrator Panel</a></li>
	<li class="active">Categories</li>
</ul> 

<form [formGroup]="categoryForm" (ngSubmit)="addCategory($event)">
	<div class="form-group">
 <label for="tytul">Category title</label><input id="tytul" formControlName="tytul" type="text" placeholder="Category title" class=".form-control">
	</div>
	<div class="form-group">
	<label for="opis">Category description</label><textarea id="opis" formControlName="opis" placeholder="Category description" class=".form-control"></textarea>
	</div>
	<button type="submit">Add Category</button>
</form>

<select [(ngModel)]="Category">
	<ng-container *ngFor="let c of categories">
			<option [ngValue]="c">{{c.tytul}} ({{c.opis}})</option>
	</ng-container>
</select>