 <section *ngIf="product && categories">
    <ul class="breadcrumb">
        <li><a href="/">Strona główna</a></li>
        <li><a href="/admin/">Panel administratora</a></li>
        <li><a href="/admin/products">Produkty</a></li>
        <li class="active">{{ product.tytul }}</li>
    </ul> 

    <form [formGroup]="productForm" (ngSubmit)="updateProduct($event)" >
        <div class="form-group">
            <label for="tytul">Tytuł</label>
            <input id="tytul" formControlName="tytul" type="text" placeholder="Product name" class="form-control">
        </div>
        <div class="form-group">
            <label for="opis">Opis</label>
            <textarea id="opis" formControlName="opis" placeholder="Product description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="catId">Kategoria</label>
            <select id="catId" formControlName="catId" class="form-control">
                <ng-container *ngFor="let c of categories">
                    <option [ngValue]="c.catId">{{c.tytul}}</option>
                </ng-container>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </form>

    <hr>

    <form [formGroup]="productTypeForm" (ngSubmit)="addType($event)">
    <table class="table table-condensed table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Typ</th>
                <th>Cena</th>
                <th>Ilość</th>
                <th><span class="pull-right">Akcje</span></th>
            </tr>
            <tr *ngFor="let type of product.types">
                <td>{{ type.type_id }}</td>
                <td>{{ type.title }}</td>
                <td>{{ type.price }} zł</td>
                <td>{{ type.quantity }} szt</td>
                <td><button type="button" class="btn btn-danger btn-xs pull-right" (click)="removeProduct(product.prodId)"><i class="glyphicon glyphicon-remove"></i></button></td>
            </tr>
            <tr [hidden]="!addTypeClicked">
                <td colspan="2"><input id="type_title" formControlName="title" type="text" placeholder="Product type name" class="form-control" /></td>
                <td><input id="type_price" formControlName="price" type="text" placeholder="Product price in PLN" class="form-control" /></td>
                <td><input id="type_quantity" formControlName="quantity" type="text" placeholder="Product quantity" class="form-control" /></td>
                <td><button type="button" class="btn btn-primary btn-xs pull-right" (click)="removeProduct(product.prodId)"><i class="glyphicon glyphicon-save"></i></button></td>
            </tr>  
            <tr>
                <td colspan="5"><button type="button" class="btn btn-success btn-xs pull-right" (click)="addTypeClicked = !addTypeClicked"><i class="glyphicon glyphicon-plus"></i></button></td>
            </tr>
        </tbody>
    </table>
    </form> 
</section>