<ul class="breadcrumb">
	<li><a href="/">Main page</a></li>
	<li><a href="/admin/">Administrator panel</a></li>
	<li class="active">Products</li>
</ul> 

<table class="table table-condensed table-striped table-hover">
	<tbody>
		<tr>
			<th>Product name</th>
			<th>Category name</th>
			<th class="text-right">Actions</th>
		</tr>
		<tr *ngFor="let product of products">
			<td><a href="/admin/product/{{ product.prodId }}">{{ product.tytul }}</a></td>
			<td>{{ getCategoryName(product.catId) }}</td>
			<td class="text-right">
				<a href="/admin/product/{{ product.prodId }}" class="btn btn-default btn-xs" (click)="removeProduct(product.prodId)"><i class="glyphicon glyphicon-pencil"></i></a>
				<button type="button" class="btn btn-danger btn-xs" (click)="removeProduct(product.prodId)"><i class="glyphicon glyphicon-remove"></i></button>
			</td>
		</tr>
	</tbody>
</table>

<hr>

<form [formGroup]="productForm" (ngSubmit)="addProduct($event)" [hidden]="!addProductClicked">
	<div class="form-group">
		<label for="tytul">Product name</label>
		<input id="tytul" formControlName="tytul" type="text" placeholder="Product name" class="form-control">
	</div>
	<div class="form-group">
		<label for="opis">Product description</label>
		<textarea id="opis" formControlName="opis" placeholder="Product description" class="form-control"></textarea>
	</div>
	<div class="form-group">
		<label for="catId">Category</label>
		<select id="catId" formControlName="catId" class="form-control">
			<ng-container *ngFor="let c of categories">
				<option [ngValue]="c.catId">{{c.tytul}}</option>
			</ng-container>
		</select>
	</div>
	<button type="submit" class="btn btn-primary pull-right">Add Product</button>
</form>

<div [hidden]="addProductClicked">
	<button type="button" class="btn btn-primary pull-right" (click)="addProductClicked = !addProductClicked">Add New Product</button>
</div>
