<section *ngIf="basketProducts">
    <ul class="breadcrumb">
        <li><a href="/">Main Page</a></li>
        <li class="active">Cart</li>
    </ul> 

    <table class="table table-stripped table-hover">
        <tbody>
            <tr>
                <th>Product</th>
                <th>Typ</th>
                <th class="text-center">Quantity</th>
                <th class="text-right">Piece</th>
                <th class="text-right">Sum</th>
                <th class="text-right">Action</th>
            </tr>
            <tr *ngFor="let product of basketProducts">
                <template [ngIf]="product.product_data && product.type_data">
                    <td>{{ product.product_data.tytul }}</td>
                    <td>{{ product.type_data.title }}</td>
                    <td class="text-center">
                        <button type="button" [ngClass]="{disabled: product.quantity <= 1}" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                        {{ product.quantity }} pcs.
                        <button type="button" [ngClass]="{disabled: product.quantity >= product.type_data.quantity}" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                    </td>
                    <td class="text-right"> ${{ product.type_data.price | number:'1.2-2' }}</td>
                    <td class="text-right"> ${{ product.type_data.price * product.quantity | number:'1.2-2' }}</td>
                    <td class="text-right"><button type="button" class="btn btn-xs btn-danger" (click)="removeProductFromBasket(product.id)"><i class="glyphicon glyphicon-remove"></i></button></td>
                </template>
            </tr>
        </tbody>
    </table>
    <hr>
    <p class="text-right text-bold">
        TOTAL<br/>
        {{ totalCost | number:'1.2-2' }} zł
    </p>
</section>