<div class="container-fluid">
	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">{{ title }}</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li *ngFor="let category of categories">
							<a href="/category/{{ category.catId }}">{{ category.tytul }}</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a *ngIf="isAuthenticated()" href="#">Sign in</a></li>
				<li><a *ngIf="!isAuthenticated()" href="#">Sign up</a></li>
				<li><a href="/basket"><i class="glyphicon glyphicon-shopping-cart"></i><span class="badge">{{ cartItemCount }}</span></a>
			</ul>
			</div>
		</div>
	</nav>
</div>

<div class="container">
	<!--<section>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let category of categories">
				<a href="/category/{{category.catId}}">{{category.tytul}}</a>
			</div>
		</div>
	</section>-->

	<router-outlet></router-outlet>
</div>
