<div class="social-providers">
    <p class="text-center h4">Sign in with one of following services:</p>
    <div class="text-center">
        <a (click)="authenticate('google')" class="provider google" title="Google"><img src="/assets/images/providers/google.png" width="64px" height="64px" alt="Google"></a>
        <a (click)="authenticate('facebook')" class="provider facebook" title="Facebook"><img src="/assets/images/providers/facebook.png" width="64px" height="64px" alt="Facebook"></a>
    </div>
</div>